# create_trucks_only_dfs
This notebook will subset the galveston indoor+outdoor distance matrix and location dataframes to truck service only.

In [1]:
import pandas as pd

### Subset Galveston indoor + outdoor distance matrix to trucks only

In [2]:
location_df = pd.read_csv("../data/indoor_outdoor_pts_galv.csv")
#get list of index locations for all bike service locations
bike_index = location_df.loc[(location_df.loc[:, "pickup_type"]==
                              "Bike"), :].index.values.tolist()

In [3]:
len(bike_index)
#13 locations that are bike only

13

In [4]:
#get the column names for all bike service locations
columns_for_bikes = [str(i) for i in bike_index]

In [5]:
distance_matrix = pd.read_csv("../data/indoor_outdoor_distances_galv.csv")

In [6]:
#drop all rows of index with bike service
distance_matrix = distance_matrix.drop(bike_index, axis=0)
#drop all columns with bike service
distance_matrix = distance_matrix.drop(columns_for_bikes, axis=1)

In [7]:
distance_matrix.reset_index(inplace=True, drop=True)
distance_matrix

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
0,0.0,5143.2,8990.2,6368.1,13815.7,10253.6,9602.4,9632.7,9629.0,9691.5,...,5572.7,7771.3,1849.6,1672.0,13248.8,6031.2,8261.5,11893.4,15070.8,14999.4
1,5286.6,0.0,12326.0,9623.2,15375.9,13589.5,12938.2,12968.5,12964.8,13027.3,...,3351.3,10925.6,5359.4,3439.3,16584.6,3763.6,6040.2,9672.0,12849.4,12778.1
2,8678.1,11909.4,0.0,2614.5,5088.0,1389.6,7453.6,905.0,901.3,967.6,...,11232.0,1136.5,7011.3,8690.0,11100.0,11690.5,13920.8,17552.7,20730.0,20658.7
3,6410.6,9642.0,2574.4,0.0,7399.9,3701.5,5968.7,3216.9,3213.2,3275.7,...,9453.6,2756.7,4743.8,6422.5,9615.2,9912.2,12142.5,15774.3,18951.7,18880.4
4,14122.0,17353.3,5111.7,7424.9,0.0,5271.7,11966.6,5250.3,5246.6,5542.6,...,15424.6,6248.1,12243.7,14133.9,15613.0,15883.2,18113.5,21745.3,24922.7,24851.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,6173.0,3785.7,11718.9,9889.1,15826.3,14392.5,13741.2,12845.9,12842.2,12904.8,...,1109.9,10974.9,6245.8,4354.0,17387.6,0.0,2555.5,6187.4,9364.8,9293.4
239,8419.0,6074.9,13964.8,12135.1,18072.3,16638.5,15987.2,15091.9,15088.2,15150.8,...,3355.9,13220.9,8491.8,6600.0,19633.6,2513.0,0.0,3966.8,7144.2,7072.9
240,12035.0,9690.9,17580.9,15751.1,21688.3,20254.5,19603.2,18707.9,18704.3,18766.8,...,6971.9,16836.9,12107.9,10216.0,23249.6,6129.0,3893.7,0.0,3615.7,3544.3
241,15209.0,12864.9,20754.8,18925.1,24862.3,23428.5,22777.2,21881.9,21878.2,21940.8,...,10145.9,20010.9,15281.8,13390.0,26423.6,9303.0,7067.6,3434.3,0.0,172.2
242,15194.5,12850.4,20740.3,18910.5,24847.7,23413.9,22762.6,21867.4,21863.7,21926.2,...,10131.3,19996.4,15267.3,13375.4,26409.1,9288.5,7053.1,3419.8,171.6,0.0

In [8]:
distance_matrix = distance_matrix.astype(int)

In [9]:
distance_matrix.to_csv("../data/truck_distances_galv.csv", index=False)

### Subset Galveston indoor + outdoor locations df to trucks only

In [10]:
location_df = pd.read_csv("../data/indoor_outdoor_pts_galv.csv")
location_df = location_df.loc[(location_df.loc[:, "pickup_type"]!="Bike"), :]
location_df.reset_index(inplace=True, drop=True)

In [11]:
# fill in missing values for pickup and dropoff values
location_df.loc[location_df.loc[:, "Name"]=="Vargas Cut and Catch (listed above)", "Daily_Pickup_Totes"] = 1.0
location_df.loc[location_df.loc[:, "Name"]=="Vargas Cut and Catch (listed above)", "Weekly_Dropoff_Totes"] = 1.0

location_df.loc[location_df.loc[:, "Name"]=="Whitecaps", "Daily_Pickup_Totes"] = 1.0
location_df.loc[location_df.loc[:, "Name"]=="Whitecaps", "Weekly_Dropoff_Totes"] = 1.0

location_df.loc[location_df.loc[:, "Name"]=="Rail Road Museum", "Daily_Pickup_Totes"] = 1.0
location_df.loc[location_df.loc[:, "Name"]=="Rail Road Museum", "Weekly_Dropoff_Totes"] = 1.0

In [12]:
pickup_list = location_df.loc[:, "Daily_Pickup_Totes"].tolist()
pickup_list = [int(i) for i in pickup_list]
location_df.loc[:, "Daily_Pickup_Totes"] = pickup_list

/var/folders/4b/3cdcp3h14kl45v92kx9_styr0000gn/T/ipykernel_84902/953863721.py:3: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  location_df.loc[:, "Daily_Pickup_Totes"] = pickup_list

In [13]:
location_df.head()

,Name,Longitude,Latitude,Daily_Pickup_Totes,Weekly_Dropoff_Totes,user_ratings_total,category,rating,weekly_high,weekly_low,best_weekly_estimate,Address,geometry,Adoption,Adoption Guess,Visited,Influence,location_type,id,pickup_type
0,Moody Gardens,-94.852300,29.273600,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,depot,NaN,NaN
1,Sugar Bean,-94.870418,29.261029,1,1.0,476.0,cafe,4.7,200,50,200,"11 Evia Main, Galveston",POINT (-94.8704183 29.2610286),Curious,High,No,High,indoor,NaN,NaN
2,MAC-IES,-94.791385,29.298912,1,1.0,73.0,restaurant,5.0,1500,1050,1500,"1110 23rd Street, Galveston",POINT (-94.7913851 29.2989118),Curious,High,No,Low,indoor,NaN,NaN
3,Good Dough,-94.808531,29.290612,1,1.0,68.0,bakery,4.6,70,35,70,"1508 39th Street, Galveston",POINT (-94.808531 29.2906119),Curious,High,No,Med,indoor,NaN,NaN
4,Porch Cafe,-94.750192,29.319581,1,1.0,332.0,restaurant,4.1,300,NaN,100,"1625 East Beach Drive #2A, Galveston",POINT (-94.7501916 29.3195806),Curious,High,No,Low,indoor,NaN,NaN

In [14]:
location_df.to_csv("../data/truck_service_locations.csv", index=False)

In [15]:
trucks = pd.read_csv("../data/truck_service_pts_galv.csv")

FileNotFoundError: [Errno 2] No such file or directory: '../data/truck_service_pts_galv.csv'