# create_bike_only_dfs
This notebook will subset the original galveston indoor+outdoor location and distance matrix dataframes to bike service only.

In [49]:
import pandas as pd

### Subset Galveston indoor + outdoor locations df to trucks only

In [50]:
#read in the galveston locations df:
#       this is the original full_df we made by concatonating 
#       moody gardens + indoor df + outdoor df together
location_df = pd.read_csv("../data/indoor_outdoor_pts_galv.csv")

In [51]:
#subset to bike only rows
bike_only_df = location_df.loc[(location_df.loc[:, "pickup_type"]=="Bike"), :]
#reset index
bike_only_df.reset_index(inplace=True, drop=True)

In [52]:
bike_only_df

,Name,Longitude,Latitude,Daily_Pickup_Totes,Weekly_Dropoff_Totes,user_ratings_total,category,rating,weekly_high,weekly_low,best_weekly_estimate,Address,geometry,Adoption,Adoption Guess,Visited,Influence,location_type,id,pickup_type
0,Moody Gardens,-94.852300,29.273600,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,depot,NaN,NaN
1,Sugar Bean,-94.870418,29.261029,1,1,476.0,cafe,4.7,200,50,200,"11 Evia Main, Galveston",POINT (-94.8704183 29.2610286),Curious,High,No,High,indoor,NaN,NaN
2,MAC-IES,-94.791385,29.298912,1,1,73.0,restaurant,5.0,1500,1050,1500,"1110 23rd Street, Galveston",POINT (-94.7913851 29.2989118),Curious,High,No,Low,indoor,NaN,NaN
3,Good Dough,-94.808531,29.290612,1,1,68.0,bakery,4.6,70,35,70,"1508 39th Street, Galveston",POINT (-94.808531 29.2906119),Curious,High,No,Med,indoor,NaN,NaN
4,Porch Cafe,-94.750192,29.319581,1,1,332.0,restaurant,4.1,300,NaN,100,"1625 East Beach Drive #2A, Galveston",POINT (-94.7501916 29.3195806),Curious,High,No,Low,indoor,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,NaN,-94.878118,29.238725,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,outdoor,3030.0,Truck
239,NaN,-94.896043,29.227723,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,outdoor,3031.0,Truck
240,NaN,-94.927823,29.210431,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,outdoor,3032.0,Truck
241,NaN,-94.954036,29.193525,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,outdoor,3033.0,Truck
242,NaN,-94.956086,29.196348,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,outdoor,3034.0,Truck

In [53]:
bike_only_df.to_csv("../data/bike_service_pts_galv.csv", index=False)

### Subset Galveston indoor + outdoor distance matrix to bikes only

In [54]:
#import distance matrix for orignial galveston indoor+ outdoor dataset
distance_matrix = pd.read_csv("../data/indoor_outdoor_distances_galv.csv")

In [55]:
#get list of bike location indices
bike_indices = location_df.loc[(location_df.loc[:, "pickup_type"]==
                              "Bike"), :].index.values.tolist()

In [56]:
bike_indices

[172, 173, 176, 178, 179, 180, 183, 184, 185, 186, 187, 199, 202]

In [57]:
#get the column names for all bike service locations
columns_for_bikes = [str(i) for i in bike_indices]

In [58]:
#subset rows and columns with bike service indicies
bike_distances = distance_matrix.loc[bike_indices, columns_for_bikes]

In [59]:
#reset index and columns
bike_distances.reset_index(inplace=True, drop=True)
bike_distances.columns = [str(i) for i in range(len(bike_indices))]

bike_distances

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.0,376.9,805.4,776.0,981.4,1364.4,283.5,510.4,655.7,741.3,424.4,1136.5,3912.6
1,356.0,0.0,559.2,1004.2,814.8,1020.5,198.7,201.9,312.4,428.5,80.5,680.0,4128.8
2,1134.8,1263.3,0.0,1593.0,1867.8,2269.3,1169.9,1396.8,1542.1,1627.8,1310.8,2022.9,3880.0
3,818.1,1004.7,1530.9,0.0,290.0,676.3,831.1,1130.0,1152.9,1366.3,984.0,1200.0,3122.3
4,854.0,814.8,1340.9,289.5,0.0,543.0,697.7,933.2,1016.4,1169.8,788.3,1003.2,3312.9
5,1240.1,1020.5,1546.7,675.8,486.4,0.0,1084.0,856.0,709.1,860.2,963.6,696.0,3798.7
6,185.0,270.6,699.0,830.7,697.8,1084.1,0.0,263.3,373.8,489.9,118.3,740.9,3955.3
7,420.5,202.0,728.1,1068.2,880.9,856.1,263.2,0.0,147.0,263.1,145.0,513.1,4192.9
8,531.2,312.7,838.2,1152.7,1323.0,709.4,373.9,147.1,0.0,142.3,255.7,365.0,4277.1
9,647.1,428.5,954.7,1294.7,1710.4,1065.1,489.8,263.0,142.0,0.0,371.6,289.3,4662.6
10,275.5,80.5,606.6,947.3,757.8,963.6,118.2,144.9,255.4,371.6,0.0,623.1,4071.9
11,898.1,681.0,1207.1,1718.5,1421.1,775.8,741.7,513.9,365.7,275.2,624.0,0.0,4373.3
12,3878.3,4147.9,4576.4,3122.3,3311.2,3796.9,4054.5,4281.3,4426.6,4512.3,4195.4,4372.3,0.0

In [60]:
bike_distances.to_csv("../data/bike_distances_galv.csv", index=False)